<header>
  <nav-bar />
</header>

<body>
  <div class="frame">
    <div>
      <div class="space-between-row">
        <label for="form-label" class="form-label">Topic</label>
        <label for="form-label" class="form-label">0/100</label>
      </div>
      <input type="text" class="form-control" id="topic-form" />
    </div>

    <div>
      <div class="space-between-row">
        <label for="form-label" class="form-label">Description</label>
        <label for="form-label" class="form-label">0/1,000</label>
      </div>
      <textarea type="text" class="form-control wide" id="topic-form"></textarea>
    </div>

    <div>
      <label for="form-label" class="form-label">Options</label>

      <ul>
        <li *ngFor="let option of optionForms" class="no-bullets">
          <input type="text" class="form-control" id="topic-form" />
        </li>
      </ul>
    </div>

    <div style="width: 100%; justify-content: start; margin-top: 10px">
      <i class="bi bi-plus-circle add-option" (click)="addOption()"></i>
    </div>
  </div>
</body>
