.vote-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1px;

    padding: 4px;
    padding-left: 30px;

    outline: black solid 1px;
}
