$text-color: #FFCC00;
$bg-color: lightblue;


body {
  background-color: $bg-color;
  h1 {
    color: white;
    text-align: center;
    p {
      font-family: verdana;
      font-size: 20px;
    }
  }
}
