.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 40vh;
    height: 40vh;

    outline: 1px solid black;
}
.modal {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topic-name {
    display: inline;
    font-weight: bold;
}
