<div class="screen">
    <div class="center">
        <div class="modal">
            <div style="display: flex; justify-content: space-between">
                <span style="display: inline; font-weight: bold">Vote Report</span>
                <button type="button" (click)="closeReportModal()">X</button>
            </div>

            <div style="display: flex; justify-content: space-between">
                <span style="display: inline; margin-top: 20px">{{
                    topic.topicName
                    }}</span>
                <button type="button" (click)="openDetailModal()">
                    Description
                </button>
            </div>
            <span style="display: inline; margin-top: 5px"># Voter {{ totalVote }}</span>

            <ul class="ul-nobullets">
                <li *ngFor="let option of topic.options; let idx = index" A>
                    <report-list-item [optionName]="option.optionName" [optionVote]="option.voteCount"
                        [totalVote]="totalVote" />
                </li>
            </ul>
        </div>
    </div>
</div>
